* {
    margin: 0px;
    padding: 0px;
}

.menu-container {
    background-color: rgb(34, 32, 32);
    padding: 20px;
    color: white;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.logo-pic {
    width: 120px;
}

.menus {
    display: flex;

}

.item {
    margin-right: 10px;
    padding-right: 7px;
    font-size: 18px;
    cursor: pointer;
}

.item:hover {

    background-color: red;

}

.banner-i {
    width: 300px;
}

.banner-container {
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* height: 500px; */
    height: 100vh;
    border: 2px solid gray;
    background-image: url("./images/background.png"),
     linear-gradient(45deg, #000, #000);
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;

}

.title {
    font-size: 55px;
    font-weight: bold;
}

.description {
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.btn {
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 10px;
    /* this is i take from CHATGTP  */
    /* i have to look it or share it with someone who is expert  */
    /* align-self: flex-start; */
}

.btn:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}
.about-i{
    width: 300px;
}
.about-container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}
.about-text{
    padding: 10px;
    text-align: center;
}
.about-h2{
    font-size: 40px;
    font-weight: bold;
}
.about-p{
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.Services-h1{
    padding: 10px;
    text-align: center;
    margin: 10px;

}
.lg1{
    width: 40px;
    padding: 10px;
}
.box{
    width: 200px;
    height: 270px;
    background-color: rgb(0, 0, 0);
    padding: 10px;
    margin: 10px;
    box-shadow: 10px 11px 100px rgb(44, 43, 43);
    border-radius: 5px;
    color: white;
    
}
.boxes{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* for sometime this background: ; */
 background-image: url("images/background.png"), linear-gradient(45deg, #000, #000 );
   text-align: center;
   
}
.btn2{
    padding:10px 20px ;
    margin: 10px;
}
.box-p{
    font-size: 18px;
    margin: 10px;
}
.footer-sec{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 400px;
}
.logo6{
    width: 100px;
}
